
.kwicks {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.kwicks li {
  display: block;
  overflow: hidden;
  padding: 0;
  cursor: pointer;  
}

.kwicks.horizontal li {
  float: left;
}